.box{
    text-align: left;
}
.absolute-right{
    display: inline-block;
    position: absolute;
}

/*The magic:*/
.absolute-right{
-moz-transform: translateX(-80%);
-ms-transform: translateX(-80%);
-webkit-transform: translateX(-80%);
-o-transform: translateX(-80%);
transform: translateX(-80%);
}
